@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgray;
    min-height: 100vh;
    margin: auto;
    border: 1px solid black;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
    padding: 100px 40px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.6);
}

section.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}